[submodule "tools/xschem"]
	path = tools/xschem
	url = https://github.com/StefanSchippers/xschem.git
    ignore = dirty
[submodule "tools/magic"]
	path = tools/magic
	url = https://github.com/RTimothyEdwards/magic.git
    ignore = dirty
[submodule "tools/netgen"]
	path = tools/netgen
	url = https://github.com/RTimothyEdwards/netgen.git
    ignore = dirty
[submodule "tools/ngspice"]
	path = tools/ngspice
	url = git@github.com:ngspice/ngspice.git
    ignore = dirty
[submodule "tools/xschem-gaw"]
	path = tools/xschem-gaw
	url = git@github.com:StefanSchippers/xschem-gaw.git
