*.ext
*.sim
*.cif
*.nodes
MAGIC.LOG
*.BAK
tclIndex
*.log
*.out
lib/xschem/bsim4v5.out
lib/xschem/LDO
lib/lvs/*
char/*
work/*
transcript
vsim.wlf
lib/magic/res/*
lib/magic/ext/*
lib/magic/nodes/*
lib/magic/sim/*
lib/scripts/magic/*
tmp*
